@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
  background-color: #D9D9D9;
  font-family: "Montserrat", serif;
}

.navbars{
  padding: 1.1em;
  background-color: #13004A;
}

.logo{
  margin-right: 20px;
}

.searchBtn{
  background-color: green;
  color: white;
}

.icons{
  color: white;
  font-size: 30px;
}

.cartI{
 display: flex;
 margin-right:90px;
}


.menuTxt{
  font-weight: bold;
  text-align: center;
  margin-top: 2rem;
  font-size: 4rem;
}

.cardx{
  cursor: pointer;

  width: 23rem;
  transition:  transform 0.4s;
}

.cardx:hover{
 
  transform: scale(1.03);
}

.pfp{
  margin-left:30px;

}

.contP{
  padding: 1em;
}

.productRow{
  gap:2em;
}

.proName{
  font-weight: bold;
}

.proPr{
  float: right
  ;color: green; 

}

.addTo{
  background-color: #13004A; 
  border: none;
  color:white;
}

.icons:hover{
  opacity: 0.6;
  cursor: pointer;

}



@media screen and (max-width: 991px){
  .col-sm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .searchArea{
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .btn-danger{
    margin-top: 1em;
  }
  .icons{
    font-size: 1.3em;
  }
}

@media screen and (max-width: 400px) {
  .cardx{
    width: 21rem;
  }
}

@media screen and (max-width:354px) {
  .cardx{
    width: 19rem;
  }
  
}